.teamMember-icon{
    margin: auto;
    border: 100;
    height: 155px;
    width: 200px;
    margin-top: 50px;
    background-image: url(../../../assets/images/our-group.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* border-style: solid; */
}
