.homeHeader{
    overflow-y: scroll;
}
.homeHeader::-webkit-scrollbar {
    display: none;
}
.homePage{
    width: 100%;
    height: 750px;
    background-image: url(../../assets/images/web-homepage.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.binType{
    height: 250px;
}
.bargraph{
    height: 250px;
}
