.section-header {
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #042434;
    font-size: 25px


}

.section-contents {
    height: calc(100% - 70px);
    box-shadow: 0 0 50px rgba(220, 220, 220, 0.46);

}

.section-contents div {
    background-color: white;
}

.column-left {
    width: calc(65%);
}

.box-shadow {
    box-shadow: 0 0 50px rgba(220, 220, 220, 0.6);
    border-radius: 5px;
}
