.section-header {
    height: 60px;
}

.section-contents {
    height: calc(100% - 70px);
    filter: drop-shadow();
}

.section-contents div {
    background-color: white;
}

.column-left {
    width: calc(65%);
}

.box-shadow {
    box-shadow: 0 0 50px rgba(220, 220, 220, 0.6);
    border-radius: 5px;
}
