.garbage-hubs-table tbody tr td {
    padding-top: 5px;
    padding-bottom: 5px;
    /*display: flex;*/
    vertical-align: middle;
}

.garbage-hubs-table tbody tr {
    /*border: 0 none transparent !important;*/
}
.action-item-group{
    display: flex;
    justify-content: space-between;
    width: 55px;
}
.action-item-group svg{
    font-size: 25px;
    padding-right: 4px;
    padding-left: 4px;
    background-color: green;
    border-radius: 5px;
    color: white;

}

.level-warning {
    background-color: rgba(255, 115, 115, 0.5);
}

.level-normal {
    background-color: rgba(0, 193, 134, 0.5);
}

.level-medium {
    background-color: rgba(255, 153, 0, 0.5);
}

.label {
    border-radius: 10px;
    text-align: center;
}

.divider-row{
    border-bottom: 2px solid #BFDDDE;
}
