.loc{
    font-weight: bold;
    color: #042434;
    font-size: 14px;
    margin-top: 5px;
}

.select{
    border: none;
    outline: none;
    background-color: #fff;
    appearance: none;
    width: 170px;
    -webkit-appearance: none;
    background-image: url("../../../images/icons/dropdownicon.png");
    background-repeat: no-repeat;
    background-position:right;
}

.select1{
    border:none;
    outline: none;
    background-color: #fff;
    appearance: none;
    width: 165px;
    -webkit-appearance: none;
    background-image: url("../../../images/icons/dropdownicon.png");
    background-repeat: no-repeat;
    background-position:right;
}

.filter-select {
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    background-image: url("../../../images/icons/dropdownicon.png");
    background-repeat: no-repeat;
    background-position: right;
}

.multiselect{
    border:none;
    outline: none;
    width: 170px;
    height: 50px;
    padding: 0px;
    -webkit-appearance: none;
    appearance: none;
}





