.navigation-bar a {
    text-decoration: none;
    color: #075061;
}

.active {
    background-color: #075061;
    border-radius: 50px;
    color: white !important;
}

.active:hover {
    color: white;
}

.vertical-divider {
    border-left: 3px solid #BFDDDE;
    height: 65px;
}

.logout-icon{
    width: 25px;
}

.logout-icon:hover{
    cursor: pointer;
}
