.navigation-bar a {
    text-decoration: none;
    color: #075061;
}

.active {
    background-color: #075061;
    border-radius: 50px;
    color: white !important;
}

.active:hover {
    color: white;
}

.vertical-divider {
    border-left: 3px solid #BFDDDE;
    height: 65px;
}

/* logout Icon Styles */
.logout-icon {
    width: 25px;
}

.logout-icon:hover {
    cursor: pointer;
}

/* Notification Icon Styles */
.notification-icon {
    width: 60px;
}

.notification-count {
    margin-top: 30px;
    background-color: #228693;
    line-height: normal;
    color: white;
    border-radius: 50%;
    height: 23px;
    width: 23px;
    text-align: center;
}

/* common class for hover */
.on-hover:hover *{
    cursor: pointer;
}
