.notification-container {
    top: 70px;
    width: 330px;
    /*max-height: 500px;*/
    box-shadow: 0 0 50px rgba(220, 220, 220, 0.46);

}

.arrow-top {
    /*margin-top: 50px;*/
}

.arrow-top:after {
    content: " ";
    position: absolute;
    right: 17px;
    top: -15px;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid white;
}

/* styles for notification message */
.notification-message {
    border-radius: 5px;
}

.notification-new {
    background-color: #EDFBFC;
}
