.forgotPwdImg{
    height: 300px;
}
.forgotPwd-img{
    height: 300px;
}
.firstHeading{
    height: 100px;
    margin-top: 20px;
    text-align: center;
}
.firstHeading{
    
    color: rgb(39, 39, 83);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.sidePng{
    background-color: rgb(199, 225, 250);
}